@page
@model myStore.Pages.admin.addFlowerModel
@{
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>Add Flower</h3>
                </div>
                @if (Model.errorMessage.Length > 0)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>@Model.errorMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    </div>
                }
                <br />
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" style="background-color:#eef07d">
                        <!-- Add enctype attribute for file upload -->
                        <div class="form-group">
                            <label>Flower Type</label>
                            <input type="text" class="form-control" placeholder="Enter Flower Type" name="f_type" value="@Model.flowerDetail.f_type">
                        </div>
                        <div class="form-group">
                            <label>Flowe Name</label>
                            <input type="text" class="form-control" placeholder="Enter Flower Name" name="f_name" value="@Model.flowerDetail.f_name">
                        </div>
                        <div class="form-group">
                            <label>Flower Colour</label>
                            <input type="tel" class="form-control" placeholder="Enter Flower Clour" name="f_color" value="@Model.flowerDetail.f_color">
                        </div>
                        <div class="form-group">
                            <label>Photo</label>
                            <input type="file" class="form-control" name="imageFile">
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" placeholder="Enter Price" name="price" value="@Model.flowerDetail.price">
                        </div>
                        @* @if (Model.successfullMessage.Length > 0)
                        {
                            <div class="row mb-3">
                                <div class="col-sm-9">
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <strong>@Model.successfullMessage</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                                    </div>
                                </div>
                            </div>
                        } *@

                        <button type="reset" class="btn btn-dark">Cancel</button>
                        <input type="submit" value="ADD" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
