@page
@model myStore.Pages.admin.flowerDetailsModel
@{
}
<h1>List of Flowers</h1>
<br />
<a class="btn btn-primary btn-sm" href="/admin/addFlower">Add New Flower</a>
<br />
<br />
<br />
<table class="table" style="background-color:#eef07d">
    <thead>
        <tr>
            <th>Flower ID</th>
            <th>Flower Type</th>
            <th>Flower Name</th> <!-- Corrected typo here -->
            <th>Colour</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listflowers)
        {
            <tr>
                <td>@item.f_id</td>
                <td>@item.f_type</td>
                <td>@item.f_name</td>
                <td>@item.f_color</td>
                <td><img src="~/images/@item.image" width="100px" height="100px"></td>
                <td>@item.price</td>
            </tr>
        }
    </tbody>
</table>
